.home {
  color: white;
}

.home .btn-container {
  display: flex;
  justify-content: center;
  --color-text: #fca5a5;
  transition: 1s;

}


.home .btn-content {
  display: flex;
  align-items: center;
  padding: 10px 30px 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  color: var(--color-text);
  background: transparent;
  transition: width 1s ease-in-out, margin-left 1s ease-in-out !important;
  overflow: hidden;
}


.home .btn-content .svg-icon {
  position: relative;
  top: -55%;
}

.home .btn-content:hover,
.btn-content:focus {

  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  transition: 1s;
}

.home .btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0;
  transform: scale(0.6);
  margin-top: -5px;

}

.home .btn-content .btn-title {
  position: relative;
  bottom: 5px;
  left: -100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;

}

.home .btn-content:hover .btn-title {
  opacity: 1;
 left: 35%; 
}

.home .btn-content:hover .icon-arrow {
  transition: 0.5s;
  position: relative;
  top: -5%;
  margin-left: 5px;
  left: -20px;
}



.home .icon-arrow {
  width: 10px;
  position: relative;
  top: -5%;
  margin-left: -120px;
}

/* SVG */
.home #arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);

}

.home #arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.home .btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.home .btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.home .btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: #fca5a5;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: #fca5a5;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}