.profil-content {

    background-color: rgb(15, 19, 30);
    color: white;
    padding: 17vh 0 20px;
}

.profil-content .profil-right {
    padding-left: 5vw;
}

.profil-content .profileImage {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 3px #000000, 0 0 0 10px #9EABCC
}

.profil-content .fa-pen-to-square {
    position: relative;
    left: 85%
}

.profil-content .container {
    position: relative;
    top: 10%;
}

.profil-content .cadre {
    background-color: #21252F;
    border-radius: 17px;
    padding: 25px 30px 40px;
    position: relative;
    top: -8px;

}

.profil-content .row {
    width: 100%;
}

.profil-content .img {
    width: 200px;
}

.profil-content .hr {
    color: white !important;
}

.profil-content .details {
    display: flex;
    justify-content: space-between;
}

.profil-content .username,
.profil-content .birthday,
.profil-content .address {
    margin-left: 10px;
    position: relative;
    top: -10%;
}

.profil-content .birthday {
    margin-left: 6px;
}

.profil-content .edit i {
    position: relative;
    top: -10%;
}

.profil-content .birth {
    font-size: 11px;
    text-align: center;
}

.profil-content .fa-cake-candles {
    font-size: 20px;
    position: relative;
    top: 7px;
    right: 2px;
}

.profil-content .fa-map-marker-alt {
    font-size: 20px;
    position: relative;
    top: -2px;
    right: 2px;
}

.profil-content .member {
    position: relative;
    top: 10px;
    left: 20px;
}

.profil-content .custom-hr {
    border-width: 3px;
}

.profil-content .plan,
.profil-content .sub-bil {
    padding: 9px 0 0px 10%;

}

.profil-content .sub-bil ul li {
    margin-top: 15px;
    font-size: 17px;
    font-weight: lighter;
}

.profil-content .plan .edit,
.profil-content .sub-bil .edit {
    text-align: right;
    color: #D2DAEF !important;
    font-size: 15px;
    cursor: pointer;
}
.profil-content .input-username{
  margin-bottom: 10px;
  margin-top: -7px;
  width: 85%;
}
.profil-content .input-date{
  margin-bottom: 30px;
  width: 85%;
}
.profil-content .input-address{
  margin-top: -8px;
  width: 85%;
}
.profil-content .input-email{
  width:83% ;
  
}
.profil-content .done-account{
  margin-top: 10px;
  
}
.profil-content input:not([type="file"]){
  background-color: #21252F;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #D2DAEF;
  color: #D2DAEF;
  padding: 5px;
  margin-bottom: 10px;
}