.container1 {
  max-width: 1200px !important;
  padding-left: 25px !important;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  padding: 10px;
  background-color: rgb(15, 19, 30) !important;
  box-shadow: 2px 2px 5px rgba(82, 91, 106, 0.288);

}

.navbarre {
  background-color: #0F131E;
  color: #fff;
  display: flex !important;
  align-items: center;
  padding: 10px;
  height: 50px;
}

.navbar-logo {
  width: 200px;
  height: 80px;
  position: absolute;
  margin-left: 40px;
}

.navbar-menu {
  list-style: none !important;
  display: flex !important ;
  align-items: center !important;
  margin: 50px 50px 50px 350px !important ;
  transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out !important;
}

.navbar-menu li {
  margin-right: 20px !important;
}

.navbar-menu li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-menu li a:hover::after {
  transform: scaleX(1);
}

.search-box {
  display: flex;
  position: fixed;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 480px;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px;
  transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;

}

.search-box.active .search-txt {
  width: 150px;
  background-color:#fff ;

}
.search-box.active .search-btn i {
  
  color: #000000;

}

.search-btn {
  cursor: pointer;
  color: #000000;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: -40px;
}

.search-btn i{
  color: #ffffff;
}

.search-txt {
  border: none;
  outline: none;
  float: right;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  width: 0px;
  background-color: #0F131E;
  height: 30px;
  transition: width 0.4s ease-in-out;
  transition: 0.8s;
  padding: 8px 20px;
  border-radius: 20px;
}

.mobile-search {
  display: none;
}

.bell-notif1 {
  display: none;
}

div#toggle {
  display: none;
}

@media screen and (max-width: 1600px) {
  .search-box {
    margin-left: 450px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
    margin-left: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .search-box {
    margin-left: 180px;
    width: 60px;
  }


  
}

@media screen and (max-width: 1420px) {
  

  .search-box.active {
    width: 200px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 1317px) {
  .search-box.active {
    width: 200px;
    margin-left: 130px;
  }
}

@media screen and (max-width: 1250px) {


  .search-box.active {
    width: 200px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 1200px) {
  .search-box.active {
    width: 200px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .snpl{
    position: relative;
    right: 150px;
  }
  .hms{
    position: relative;
    margin-left: 10px;
    right: 150px;
  }
  .search-box {
    margin-left: 90px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1065px) {
  .search-box {
    margin-left: 20px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
    margin-left: 0px;

  }
}
@media screen and (max-width: 1000px) {
  .search-box {
    margin-left: 10px;
    width: 60px;
  }
  
  .search-box.active {
    width: 200px;
    margin-left: 0px;

  }
}
@media screen and (max-width: 990px) {
  .snpl{
    position: relative;
    right: 220px;
  }
  .hms{
    position: relative;
    margin-left: 10px;
    right: 200px;
  }

}

/*mobile */
@media screen and (max-width: 916px) {
  div#toggle {
    display: block;
    z-index: 1;
    position: fixed;
    right: 20px;
    top: 20px;

  }
  .snpl{
    position: relative;
    right: 0px;
  }
  .hms{
    position: relative;
    margin-left: 10px;
    right: 15px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20px;
    right: -100px;
    width: 0px;
    height: 100vh;
    background: #0F131E;
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in-out;
  }

  .navbar-menu.active {
    width: 350px;
  }

  .navbarre li {
    margin-bottom: 50px;
  }

  .login,.profil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: -125px;
    right: 11px;
  
  }
  .navbar-menu .search-box{
    display: none;
  }
  .navbar-menu.active .search-box {
    display: none;
    transition: 0.8s;

  }

  .bell {
    display: none;
    transition: 0.8s;

  }

  .mobile-search {
    display: flex;
    position: fixed;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px 20px;
    height: 40px;
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;


  }

  .mobile-search.active .search-txt {
    width: 150px;
    background-color: #fff;

  }
  .mobile-search.active  .search-btn i{
    color: #000000;
  }
  .mobile-search .search-btn {
    cursor: pointer;
    color: #fff;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 18px;

  }

  .mobile-search .search-txt {
    border: none;
    background: transparent;
    outline: none;
    float: right;
    font-weight: 500;
    transition: 0.8s;
    width: 0px;
    background-color: #0F131E;
    height: 30px;

  }


  .bell-notif1 svg {
    display: flex;
    position: absolute;
    top: 150px;
    left: 155px;

  }
}

.nav .navbarre .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color:transparent;
}

/* plus sign */
.nav .navbarre .sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .navbarre .sign svg {
  width: 20px;
}

.nav .navbarre .sign svg path {
  fill: white;
}
/* text */
.nav .navbarre .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.nav .navbarre .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.nav .navbarre .Btn:hover .sign {
  width: 40%;
  transition-duration: .3s;
  padding-left: 5px;
}

/* hover effect button's text */
.nav .navbarre .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.nav .navbarre .button {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.nav .navbarre .bell {
  width: 18px;
}

.nav .navbarre .bell path {
  fill: white;
}


.nav .navbarre .button:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.nav .navbarre .button:active {
  transform: scale(0.8);
}
