nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

#toggle {
  display: none;
}

#toggle i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 875px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 40px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #1b2430;
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in-out;

  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 50px;
  }

  #toggle {
    display: block;
    position:fixed;
    margin-left: 500px;
  }
  #toggle i {
    font-size: 24px;
    cursor: pointer;
  }




}


/*mobile*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');


nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
padding: 10px;
background-color: #0F131E; 

}

.navbar {
  background-color: #0F131E;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;


}


.navbar-logo {
  width: 200px;
  height: 80px;
  position: absolute;
  margin-left: 40px;

}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 50px 50px 50px 350px;
  transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;


}

.navbar-menu li {
  margin-right: 20px;
}



.navbar-menu li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-menu li a:hover::after {
  transform: scaleX(1);
}


.search-box {
  display: flex;
  position: fixed;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 480px;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px;
  transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;

}



.search-box.active .search-txt {
  width: 150px;

}

.search-box:hover .bell-notif {
  width: 250px;
  height: 30px;
  background-color: #fff;
  float: left;
}

.search-btn {
  cursor: pointer;
  color: #fff;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: -40px;

}

.search-txt {
  border: none;
  background: transparent;
  outline: none;
  float: right;
  font-weight: 500;
  transition: 0.8s;
  width: 0px;
  background-color: #0F131E;
  height: 30px;

}





div#toggle {
  display: none;
}

@media screen and (max-width: 1500px) {


  .search-box.active {
    width: 200px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .search-box {
    margin-left: 180px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
  }
}

@media screen and (max-width: 1250px) {


  .search-box.active {
    width: 200px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .search-box {
    margin-left: 90px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
  }
}

@media screen and (max-width: 1065px) {
  .search-box {
    margin-left: 20px;
    width: 60px;
  }

  .search-box.active {
    width: 200px;
    margin-left: 20px;

  }
}

@media screen and (max-width: 990px) {
  .navbar-menu {
    margin-left: 230px;
  }


  .search-box.active {
    width: 200px;
  }
}

/*mobile */
@media screen and (max-width: 875px) {
  div#toggle {
    display:block;
    z-index: 1;
    position:fixed;
  right: 20px;
top: 20px;
  
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 25px;
    right: -50px;
    width: 0px;
    height: 100vh;
    background: #0F131E;
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in-out;
  }
  .navbar-menu.active{
    width: 300px;
  }
  .navbar li{
    margin-bottom: 40px;
  }
.profil{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}
  .navbar-menu.active .search-box{
  display: none;
}
.bell-notif{
  display: none;
}

.mobile-search{
  display: flex;
  position: fixed;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px;
  transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;


}

.mobile-search.active .search-txt {
  width: 150px;

}
.mobile-search .search-btn {
  cursor: pointer;
  color: #fff;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  font-size: 18px;
  margin-left: -40px;
  margin-right: auto;

}

.mobile-search .search-txt {
  border: none;
  background: transparent;
  outline: none;
  float: right;
  font-weight: 500;
  transition: 0.8s;
  width: 0px;
  background-color: #0F131E;
  height: 30px;

}




}