body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar-logo img {
  width: 100px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 300px;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu li a:hover {
  text-decoration: underline;
}