.episodes-section .episodes .nb-episodes {
  font-size: 24px;
  font-weight: 500;
}

/* Style for the custom select container */
.custom-select {
  position: relative;
  width: 140px;
  /* Set the width as needed */
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  background-color: #f1f1f1;
}

/* Style for the selected option */
.selected-option {
  color: rgb(15, 19, 30);
}

/* Style for the options container */
.options {
  /* display: none; */
  position: absolute;
  color: rgb(15, 19, 30);
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  z-index: 1;
}

/* Style for each option */
.option {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.option:hover {
  background-color: rgb(15, 19, 30);
  color: white;
}

/* Style for the options container when it's open */
.custom-select.open .options {
  display: block;
}

.episodes-section .img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 100%;
  /* margin: 0 10px; */
}

.episodes-section img {
  height: 100%;
  width: 90%;
  border-radius: 5px;
}

.slick-dots li button::before{
  color: #ffffff !important;
}
.slider {
  margin: 5vh 2vh 6vh;
}
.ep-number {
  font-size: 18px;
text-align: center;
}