.swipe-container {
  margin-top: 70px !important;
}

.swipe-container .slide-content {
  height: 90vh;
  margin: 0;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  

}

.swipe-container .slide-content .slide-info {
  position: absolute;
  left: 7%;
  top: 45%;


}

.swipe-container .slide-content .slide-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #ffffff;
}
.swipe-container .slide-content .details p {
  width: 32rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to display */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.swipe-container .swiper-button-prev,
.swipe-container .swiper-button-next {
  color: #fff;
}

.swipe-container .swiper-button-prev:hover,
.swipe-container .swiper-button-next:hover {
  color: #fff;
}

.swipe-container .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.7;
}

.swipe-container .swiper-pagination-bullet-active {
  background-color: #fff;

  opacity: 1;
}





.slide-content button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
  margin-top: 15px;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 45px;
  height: 45px;
  background: #fca5a5;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  background-color: #fb6363;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

